/*  main */

.sw-events-grid {
    border: 1px solid #fff ;
}

.sw-events-grid {
    border: 1px solid #d9d9d9 ;
    border: 1px solid #d9d9d9 ;
    position: relative ;

    .event-card {
	position: relative ;
        margin-bottom: 12px ;
        border: 1px solid #d9d9d9 ;
        border-left: 4px solid #23b5ac ;
        padding: 2% ;
        box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.75);
    }

}

@media (min-width: 320px)  {
    .sw-events-grid {
        .event-card {
            margin: 1% ;
            width: 48% ;
            float: left ;
        }
    }
}

@media (min-width: 768px) {
        .sw-events-grid {
        .event-card {
            margin: 1% ;
            width: 30% ;
            float: left ;
        }
	}
}